build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
*.ninja
*.dir

*.o
*.out
*.obj
*.so
*.exe

*.vcxproj
*.sln
*.xcodeproj

*~ 
*.swp
.DS_Store
.vscode/
.idea/

data/

perf.data
perf.data.old

*.dot